@font-face {
  font-family: 'Inter';
  src: url(./assets/fonts/InterVariable.woff2), format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Inter';
  src: url(./assets/fonts/InterVariable-Italic.woff2), format('woff2-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Urbanist';
  src: url(./assets/fonts/Urbanist-VariableFont_wght.woff2), format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Urbanist';
  src: url(./assets/fonts/Urbanist-Italic-VariableFont_wght.woff2), format('woff2-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Urbanist', serif;
  font-weight: 550;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
  font-weight: 200;
}

input,
button {
  appearance: none;
  border: none;
  background-color: none;
  outline: none;
}

body {
  background-color: #434343;
  color: white;
  padding: 1rem 2rem;
}

h1 {
  font-size: 4rem;
  width: fit-content;
  margin-inline: auto;
  padding: 0.5rem 1rem;
  border: 2px solid white;
  margin-bottom: 1rem;
}

.instruction {
  font-size: 2rem;
  width: fit-content;
  margin-inline: auto;
  margin-bottom: 1rem;
}

.gameboards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

h2 {
  width: fit-content;
  font-size: 2.5rem;
  margin-inline: auto;
  margin-bottom: 0.5rem;
}

.gameboard-wrapper > div {
  min-width: 500px;
  max-width: 1000px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.point {
  padding: 1.5rem;
  background-color: rgb(200, 200, 200);
  border: 1px solid black;
}

.gameboard-wrapper:not(.inactive) .point:hover {
  background-color: white;
}

.inactive {
  filter: brightness(0.5);
}

.ship {
  background-color: #1a3be0;
}